#Exclude all files that are not required to run the game, including ph3sx config/execs
#Releases of the game will include these files in the .zip

#Top level folder stuff
/*.exe
/*.dat
/*.txt

#Top level folders that aren't the script
/REFERENCE IMAGES/
/resource/

#files I don't want in the repository
script/data
script/replay